<div *ngIf = "!gameOver">

  <app-button class="hit-button" text="HIT!" (btnClick) = "onHit()"></app-button>

<table>
    <tr>
        <th>SWARM</th>
        <th>TOTAL HP: {{totalHP}}</th>
    </tr>
    <tr *ngFor="let bee of bees">
      <td *ngIf="!bee.isDead">{{ bee.name }}</td>
      <td *ngIf="!bee.isDead">{{ bee.hp }} HP</td>
    </tr>
  </table>

  <p>{{damageInfo}}</p>


</div>

<div *ngIf = "gameOver">

  <h2>GAME IS OVER!</h2>
  <p>Click the 'RESTART' button to replay</p>
  <app-button text = "RESTART!" (btnClick) = "ngOnInit()" ></app-button>

</div>